body{
    background-image: url(../../images/backgrounds/main-1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.auth{
    margin-top: 10%;
}
.navbar{
    border-radius: 0px !important;
}
.main-panel {

}
.nav-tabs > li {
    padding: 0px 2px;
}
#added-products-panel .panel-title > a {
    color: black !important;
}
#added-products-panel .panel-heading {
    background: rgba(66, 139, 202, 0.4) !important;
}
#add-device-tab, #add-service-tab {
    width: 95%;
    margin: 20px auto;
}
#add-device-tab > div, #add-service-tab > div {
    justify-content: space-between;
    width: 100%;
}
.parent-add-service, .parent-add-device {
    width: 55%;
}
#add-device, #add-service {
    width: 100%;
    padding: 10px;
    background: rgba(245, 245, 245, 0.94);
    border-radius: 5px;
    border: 3px solid #428bca;
}
#add-device label, #add-service label {
    margin-bottom: 10px;
}
.all-services, .all-devices {
    margin: 0;
    padding: 10px;
    height: 300px;
}
#show-devices > p, #show-services > p {
    padding: 10px;
    background: #428bca;
    margin: 0;
    font-weight: bold;
}
#show-devices, #show-services {
    width: 40%;
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid #428bca;
}
.one-device, .one-service {
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 3px;
    background: rgba(66, 139, 202, 0.4);
    justify-content: space-between;
}
.service-device-buttons > button:first-child {
    margin-right: 3px;
}
.service-device-buttons {
    height: 32px;
    align-self: center;
}
.one-device > p, .one-service > p {
    margin: 0;
    align-self: center;
    width: 70%;
    word-break: break-all;
    text-indent: 5px;
}
.nav-tabs {
    border-bottom: 1px solid #428bca;
}
.nav-tabs > li.active > a {
    background-color: #428bca;
    border: 1px solid rgba(255, 255, 255, 0) !important;
}
.main-panel > .nav>li>a:hover {
    background-color: rgba(255, 255, 255, 0);
}
.main-panel > .nav>li>a:focus {
    background-color: #428bca;
}
#all-chats{
    width: 100%;
    padding: 10px 30px;
}
.admin-img{
    padding: 10px;
    background: #fd856a;
    font-weight: bold;
}
.one-message{

}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body
{
    margin-left: 60px;
}
.chat li.right .chat-body
{
    margin-right: 60px;
}
.chat li .chat-body p
{
    margin: 0;
    color: #777777;
    font-weight: bold;
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.admin-panel
{
    height: 250px;
    border-bottom: 1px solid rgb(154, 189, 220);
}
#messages-all{
    position: relative;
}
#unseen{
    position: absolute;
    top: 0;
    right: 5px;
    color: rgba(218, 31, 31, 0.86);
    font-size: 1.1em;
    font-weight: bold;
    display: none;
}
#unseen-dot{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(218, 31, 31, 0.86);
    display: none;
}
.conversation{
    justify-content: space-between;
}
.conversation_notes{
    font-weight: bold;
    background: rgba(218, 31, 31, 0.86);
    display: none;
    margin-left: 10px;
    padding: 5px;
    border-radius: 3px;
}
.delChat{
    font-size: 0.8em;
}
.circle-user,.circle-admin{
    width: 50px;
    height: 50px;
    justify-content: center;
}
.circle-user>span, .circle-admin>span{
    font-size: 1.5em;
    font-weight: bold;
    font-family: monospace;
}
.circle-admin {
    background: #fd856a;
}
.circle-user{
    background: #64ccec;
}
small{
    font-size: 0.8em;
}
.admin-logo-parent{
    justify-content: center;
}
.admin-logo-container{
    width: 40px;
}
.admin-logo{
    width: 100%;
}
.uploaded-image{
    width: 170px;
    border: 2px solid #20b2aa;
}
.uploaded-image img{
    width: 100%;
}
.uploaded-image:hover{
    cursor: pointer;
}
.controls-button{
    flex-direction: column;
    margin-left: 20px;
}
.btn-file{
    margin-bottom: 5px;
}
.chat pre {
    max-width: 300px;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.main-prices {
    justify-content: space-between;
}
.add-price {
    width: 40%;
    margin: 20px 10px;
    padding: 10px;
    background: rgba(245, 245, 245, 0.94);
    border-radius: 3px;
    border: 3px solid #428bca;
}
.add-price > p {
    font-size: 1.2em;
    font-weight: bold;
}
.add-price > div {
    margin-bottom: 20px;
}
.add-product-btn-block {
    justify-content: flex-end;
}
.added-products {
    width: 60%;
    margin: 20px 10px;
    border-radius: 3px;
    overflow: hidden;
    border: 3px solid #428bca;
    height: 360px;
}
.added-products > p {
    padding: 10px;
    background: #428bca;
    margin: 0;
    font-weight: bold;
}
.added-products > div {
    padding: 10px;
    height: 314px;
}
.product-price-buttons {
    justify-content: flex-end;
}
.product-price-buttons > button:first-child {
    margin-right: 3px;
}
.product-service {
    flex-direction: column;
    padding: 10px;
    background: rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    margin: 5px;
}
.product-service-data {
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    background: whitesmoke;
    border-radius: 3px;
}
.product-service-data > p {
    width: 65%;
    word-wrap: break-word;
    margin: 0;
    text-indent: 5px
}



