body{
    background-image: url(../../images/backgrounds/main-1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.auth{
    margin-top: 10%;
}
.navbar{
    border-radius: 0px !important;
}
#all-chats{
    width: 100%;
    padding: 10px 30px;
}
.admin-img{
    padding: 10px;
    background: #fd856a;
    font-weight: bold;
}
.one-message{

}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body
{
    margin-left: 60px;
}
.chat li.right .chat-body
{
    margin-right: 60px;
}
.chat li .chat-body p
{
    margin: 0;
    color: #777777;
    font-weight: bold;
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.panel-body
{
    height: 250px;
}
#messages-all{
    position: relative;
}
#unseen{
    position: absolute;
    top: 0;
    right: 5px;
    color: rgba(218, 31, 31, 0.86);
    font-size: 1.1em;
    font-weight: bold;
    display: none;
}
#unseen-dot{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(218, 31, 31, 0.86);
    display: none;
}
.conversation{
    display: flex;
    justify-content: space-between;
}
.conversation>h4{
    align-self: center;
}
.conversation_notes{
    font-weight: bold;
    background: rgba(218, 31, 31, 0.86);
    display: none;
    margin-left: 10px;
    padding: 5px;
    border-radius: 3px;
}
.delChat{
    font-size: 0.8em;
}
.circle-user,.circle-admin{
    width: 50px;
    height: 50px;
    justify-content: center;
}
.circle-user>span, .circle-admin>span{
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: monospace;
}
.circle-admin {
    background: #fd856a;
}
.circle-user{
    background: #64ccec;
}
small{
    font-size: 0.8em;
}
.admin-logo-parent{
    justify-content: center;
}
.admin-logo-container{
    width: 40px;
    align-self: center;
}
.admin-logo{
    width: 100%;
}
/*.controls-button{*/
/*flex-direction: column;*/
/*margin-left: 20px;*/
/*}*/
/*.btn-file{*/