body{
    background-image: url(../../images/backgrounds/main-1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.auth{
    margin-top: 10%;
}
.navbar{
    border-radius: 0px !important;
}