* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    min-width: 320px;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
}
a {
    color: #ffffff !important;
}
.notify-top-popup {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.notify-top-popup > div {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    border-radius: 0 !important;
}
.nav-above {
    height: 200px;
    background-image: url(../../images/backgrounds/above-nav-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-home {
    position: relative;
    /*background: rgba(245, 245, 220, 0.85);*/
    background: rgba(47, 159, 159, 1);
    width: 100%;
    padding: 15px;
    transition: all 0.4s linear;
}
.nav-home-fixed {
    position: fixed !important;
    top: 0;
    z-index: 20;
    height: 80px;
    padding: 0 !important;
}
.nav-home-fixed .nav-logo {
    width: 70px;
}
#nav_menu {
    justify-content: space-between;
    list-style-type: none;
    align-self: center;
    margin: 0 0 0 20px;
}
#nav_menu a {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.82) !important;
}
.li_home {
    margin-right: 14px;
}
.nav-logo {
    align-self: center;
    margin-left: 15px;
}
.nav-logo > img {
    width: 100%;
}



