*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none !important;
}
nav{
    padding: 15px 5px;
    border-bottom: 1px solid rgba(32, 178, 170, 0.81);
    position: relative;
}
#adm-log{
    list-style-type: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
#adm-log>li{
    margin-right: 10px;
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgba(86, 88, 101, 0.84);
}
#adm-log>li>a
{
    color: whitesmoke;
    padding: 5px 5px 0 5px;
    display: block;
}
#nav_menu{
    justify-content: space-between;
    list-style-type: none;
    width: 60%;
    margin: 20px auto;
}
#nav_menu a{
    font-size: 1.3em;
    font-weight: bold;
    color: whitesmoke;
}
#nav_menu a>i{
    margin-right: 3px;
}
#nav_menu li{
    padding-bottom: 10px;
}
#home-content{
    width: 100%;
}
#home-content>div>h1{
    text-align: center;
    color: whitesmoke;
}
#prices, #contacts, #reviews{
    padding: 10px;
    width: 100%;
    margin-top: 50px;
    background: rgba(114, 132, 129, 0.71);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
#prices{

}
#contacts{

}
#reviews{

}
#map_parent{
    display: flex;
    justify-content: center;
}
#map
{
    align-self: center;
    height: 60%;
    width: 80%;
    border: 5px solid rgba(32, 178, 170, 0.75);
}
#go_top{
    position: fixed;
    bottom: 40px;
    left: 3%;
    display: none;
}
.bounce {
    animation: bounce_8514 3.6s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes bounce_8514 {
    0% { transform:translateY(0) }
    5.55556% { transform:translateY(0) }
    11.11111% { transform:translateY(0) }
    22.22222% { transform:translateY(-15px) }
    27.77778% { transform:translateY(0) }
    33.33333% { transform:translateY(-15px) }
    44.44444% { transform:translateY(0) }
    100% { transform:translateY(0) }
}
#chat{
    background: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #2070b0;
    overflow: hidden;
    flex-direction: column;
    align-content: center;
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: -285px;
    transition: all 0.3s linear;
}
.chat-opened{
    bottom: 0 !important;
    transition: all 0.3s linear;
}
#chat>p{
    background: #2e8dc7;
    width: 100%;
    padding: 10px;
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}
#view-messages{
    background: rgba(144, 176, 255, 0.7);
    width: 300px;
    height: 180px;
    align-self: center;
    flex-direction: column;
}
.one-message{
    margin: 5px;
}
.from-user{
    padding: 5px;
}
.from-admin{
    justify-content: flex-end;
}
.from-admin .message-main{
    margin-right: 10px;
}
.from-admin .text-message{
    text-align: right;
}
.user-icon{
    margin-right: 10px;
}
.text-message{
    margin-bottom: 5px;
}
.text-message>p{
    border: 2px solid #2e8dc7;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    word-break: break-all;
    font-size: 0.9em;
    max-width: 150px;
}
.image-message{
    width: 130px;
    border: 3px solid #2e8dc7;
    margin-bottom: 5px;
}
.image-message>img{
    width: 100%;
}
#send-messages{
    width: 95%;
    margin: 5px auto;
    flex-direction: column;
}
#send-messages>textarea{
    padding: 5px;
    margin-bottom: 5px;
}
.toggle-chat:hover{
    cursor: pointer;
}
.chat-buttons{
    justify-content: space-between;
}

