 /*Little larger screen*/
@media only screen and (min-width: 480px) {

}

 /*Pads and larger phones*/
@media only screen and (max-width: 600px) {
    .panel-footer > div {
        flex-direction: column;
    }
    .controls-button {
        margin-left: 0 !important;
        margin-top: 5px;
    }
}

 /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

 /*Larger pads*/
@media only screen and (max-width: 768px) {
    #add-device-tab > div, #add-service-tab > div {
        display: block !important;
    }
    .parent-add-service, .parent-add-device {
        width: 100% !important;
        margin-bottom: 20px;
    }
    #show-devices, #show-services {
        width: 100% !important;
    }
    .main-prices, .main-map, .main-offers {
        flex-direction: column;
    }
    .add-block-parent, .added-products, .add-branch, .added-branches, .added-offers {
        width: 95% !important;
        margin: 20px auto !important;
    }
    .show-contact, .add-contact {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    .contacts-block-body {
        flex-direction: column;
    }
}

 /*Horizontal pads and laptops*/
@media only screen and (min-width: 992px) {

}

 @media only screen and (max-width: 1090px) {
     .form-groups-block {
         flex-direction: column;
     }
     .offers-status-block {
         width: 100% !important;
     }
 }

 /*Really large screens*/
@media only screen and (min-width: 1382px) {

}

 /*2X size (iPhone 4 etc)*/
@media only screen and
(-webkit-min-device-pixel-ratio: 1.5), only screen and
(-o-min-device-pixel-ratio: 3/2), only screen and
(min-device-pixel-ratio: 1.5) {

}