 /*Little larger screen*/
@media only screen and (min-width: 480px) {

}

 /*Pads and larger phones*/
@media only screen and (max-width: 600px) {
    .panel-footer > div {
        flex-direction: column;
    }
    .controls-button {
        margin-left: 0 !important;
        margin-top: 5px;
    }
}

 /*Larger pads*/
@media only screen and (max-width: 768px) {
}

 /*Horizontal pads and laptops*/
@media only screen and (min-width: 992px) {

}

 /*Really large screens*/
@media only screen and (min-width: 1382px) {

}

 /*2X size (iPhone 4 etc)*/
@media only screen and
(-webkit-min-device-pixel-ratio: 1.5), only screen and
(-o-min-device-pixel-ratio: 3/2), only screen and
(min-device-pixel-ratio: 1.5) {

}